@model IEnumerable<GerenciadorDeEventos.Models.Evento>
@using Microsoft.AspNetCore.Components.Web;

@{
    ViewData["Title"] = "Home Page";
}


<div class="card-columns">
@foreach (var evento in Model)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@evento.ImagemEvento')">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center"><b>@evento.NomeEvento</b></h5>
             <h6 class="text-center">@evento.DataEvento</h6>
             <h6 class="text-center">Ingressos Disponíveis: @evento.QtdIngressos</h6>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Details" asp-controller="Eventos" class="btn btn-primary" asp-route-id="@evento.Id">Detalhes</a>
            
        </div>
    </div>
}
</div>

